body {
font-family: 'Times New Roman', Times, serif;
}

.header {
background-color: #1F2937;
font-size: 18px;
color: #E5E7EB;
padding: 64px;
padding-top: 8px;
display: flex;
flex-direction: column;
justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 18px;
}

ul a {
    color: inherit;
    text-decoration: none;
}

.logo {
    margin-right: auto;
}

.header-content {
    display: flex;
    margin-top: 64px;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-image {
    max-width: 500px;
}