body {
font-family: 'Times New Roman', Times, serif;
}

.header {
background-color: #1F2937;
font-size: 18px;
color: #E5E7EB;
padding: 64px;
padding-top: 8px;
display: flex;
flex-direction: column;
justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 18px;
}

ul a {
    color: inherit;
    text-decoration: none;
}

.logo {
    margin-right: auto;
    font-size: 18px;
}

.header-content {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 18px;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: inherit;
    border-radius: 45px;
    font-size: 20px;
    font-weight: 700;
}

.information {
    color: #1f2937;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
}

.information-content {
    display: flex;
    justify-content: center;
    gap: 32px;
    max-width: 150px;
}

.information img {
    width: 300px;
    height: auto;
    border-radius: 25px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
}

.quote {
    text-align: center;
    padding: 58px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
}

.quest {
    margin-top: 42px;
    padding: 100px;
}
.quest-box {
    border-radius: 25px;
    display: flex;
    background-color: #3882F6;
    padding: 48px 96px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#quest-button {
    flex-grow: 0;
    border: 2px solid white;
    font-size: 18px;
}

.quest-title {
    font-size: 24px;
    font-weight: 600;
}
